.teamMateDetail {
  margin-top: auto;

  min-height: 95px;
  width: 100%;
  background: transparent;
  font-size: 15px;
  line-height: 22px;
  color: #d1d2d3;
  padding-left: 20px;

  display: flex;
  flex-direction: column;
}

.detail {
  display: flex;
}

.teamMateName {
  font-size: 15px;
  margin-left: 20px;
  color: #d1d2d3;
  height: auto;
  width: auto;
  cursor: pointer;
}

.teamMateNameContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commonMessage {
  height: auto;
  width: auto;
  color: #abacad;
  margin: 10px 0px;
  /* margin-bottom: 20px; */
}

.commonMessage div {
  word-wrap: break-word;
  word-break: break-all;
  height: auto;
  overflow: scroll;
}

.highlight {
  color: #40b3e4;
  background-color: #1d2a34;
  padding: 0 4px;
}
