.teamMateList {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #2b2a2f;
  border-left: 1px solid #2b2a2f;
  border-right: 1px solid #2b2a2f;
}

.collapse {
  height: 30px;
  margin-bottom: 8px;
  margin-left: 5px;
  user-select: none;
  display: flex;
  align-items: center;
}

.collapseIcon {
  height: 26px;
  width: 26px;
  background-color: transparent;
  color: #d1d2d3;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapseIcon:hover {
  cursor: pointer;
  background-color: #27242c;
}

.messageTitle {
  padding: 0 10px;
}

.messageTitle:hover {
  background-color: #27242c;
}

.transform {
  transform: matrix(0, 1, -1, 0, 0, 0);
}
