.addMessage{
    background-color: #1b1d21;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputField{
    height: 95%;
    width: 90%;
    /* border: 1px solid #565856; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.input{
    width: 96%;
    padding:10px;
    background-color: transparent;
    border: none;
    color: #D1D2D3;
    font-size: 15px;
    border: 3px solid #565856;
    border-radius: 10px;
}

input:focus{
    outline: none;
}