.dateMessage {
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: sticky;
  top: 1px;
  height: 28px;
  font-size: 13px;
  line-height: 27px;
  font-weight: 500;
  color: #d1d2d3;
  background-color: #1b1d21;
  border: 2px solid #333438;
  padding: 2px 15px;
  border-radius: 24px;
  z-index: 2;
  margin: 0 auto;
}

.line {
  width: 100%;
  border: 1px solid #2b2a2f;
  position: relative;
  top: -18px;
  z-index: 1;
}
