.sideBarHeader{
    border: 1px solid #2B2A2F;
    border-right: none;
    padding:10px;
    height: 35px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.sprinklrLogo{
    height: 20px;
    width: 20px;
    object-fit: cover;
    padding-right: 10px;
    background-color: #19171d;
}

.companyname{
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    color:#D1D2D3;
}