.message{
    display: flex;
    margin: 10px 0;
}

.messageDetails{
    flex: 1;

    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.userName{
    height: 22px;
    width: auto;
    color: D1D2D3;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    text-decoration: underline solid transparent;
}

.userName:hover{
    text-decoration: underline solid rgba(217, 222, 225, 0.883);
    cursor: pointer;
}

.currentTime{
    font-size: 12px;
    line-height: 20px;
    padding-left: 3px;
    color: #ababad;
    text-decoration: underline solid transparent;
    margin-left: 5px;
}

.currentTime:hover{
    text-decoration: underline solid  #ababad;
    cursor: pointer;
}

.avatar{
    padding-top: 5px;
}

.content{
    max-width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    color: #abacad;
    margin-top: 2px;
    font-size: 15px;
}